<div class="conatiner">
<mat-form-field appearance="outline" class="search-text-full-width">  
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search ..." #input>
    <mat-icon matPrefix color="accent">search&nbsp;</mat-icon> 
</mat-form-field> 
<div class="table-container">  
<table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort>
 
<!-- MovieId Column -->
<!--<ng-container matColumnDef="movieId">
    <th mat-header-cell *matHeaderCellDef> 
        <span class="header-text">Movie Id </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.movieId}} </span>
    </td>
</ng-container>-->

<!-- Name Column -->
<ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">Name </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.name}} </span>
    </td>
</ng-container>

<!-- Category Column -->
<ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">Category </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.category}}</span>
     </td>
</ng-container>

<!-- Casts Column -->
<ng-container matColumnDef="casts">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">Casts </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.casts}}</span>
    </td>
</ng-container>

<!-- producer Column -->
<ng-container matColumnDef="producer">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">Producer </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.producer}}</span>
            
    </td>
</ng-container>

<!-- director Column -->
<ng-container matColumnDef="director">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">Director </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.director}} </span>
            
        </td>
</ng-container>

<ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">Description </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span>{{element.description}} </span>
            
        </td>
</ng-container>

<!-- length Column -->
<ng-container matColumnDef="length">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">Length </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.length}} </span>

    </td>
</ng-container>

<!-- language Column -->
<ng-container matColumnDef="language">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">Language </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.language}} </span>

        </td>
</ng-container>

 <!-- trailer Column -->
 <!--<ng-container matColumnDef="trailer">
    <th mat-header-cell *matHeaderCellDef> 
        <span class="header-text">Trailer </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.trailer}} </span>
    </td>
</ng-container>-->

 <!-- posterURL Column -->
 <!-- <ng-container matColumnDef="posterURL">
    <th mat-header-cell *matHeaderCellDef> 
        <span class="header-text">Poster URL</span>
     </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.posterURL}} </span>
    </td>
</ng-container>-->

<!-- imdbRating Column -->
<ng-container matColumnDef="imdbRating">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">imdb Rating </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.imdbRating}} </span>
    </td>
</ng-container>

<!-- userRating Column -->
<ng-container matColumnDef="userRating">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">user Rating </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.userRating}} </span>
    </td>
</ng-container>

<!-- releaseDate Column -->
<ng-container matColumnDef="releaseDate">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">Release Date </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.releaseDate | date: 'mediumDate'}} </span>
    </td>
</ng-container>

<!-- movieAddedBy Column -->
<!--<ng-container matColumnDef="movieAddedBy">
    <th mat-header-cell *matHeaderCellDef> 
        <span class="header-text" mat-sort-header>Movie Added By </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.movieAddedBy}} </span>
    </td>
</ng-container>-->

<!-- isAlive Column -->
<ng-container matColumnDef="isAlive">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">Alive </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.isAlive}} </span>
    </td>
</ng-container>

<!-- movieCreationTimeStamp Column -->
<ng-container matColumnDef="movieCreationTimeStamp">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text" >Movie Created On </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.movieCreationTimeStamp | date: 'full'}} </span>
    </td>
</ng-container>

<!-- movieLastModifiedTimeStamp Column -->
<ng-container matColumnDef="movieLastModifiedTimeStamp">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> 
        <span class="header-text">Last Modified </span>
    </th>
    <td mat-cell *matCellDef="let element"> 
        <span class="truncate-text">{{element.movieLastModifiedTimeStamp | date: 'full'}} </span>
    </td>
</ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr> 

<!-- Row shown when there is no matching data. -->
<tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
</tr>
</table> 
</div>
<div class="col-md-12">
<mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
<span matTooltip="Refresh List">
    <button type="button" mat-icon-button (click)="refreshList()">
        <mat-icon color="accent">refresh</mat-icon>
    </button> 
</span>
</div>
<br>
<br> 
</div>