<div class="container" style="max-height: 100%;">  
    
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12" style="border-style: groove; padding: 10px; background-color:whitesmoke;">
    <form [formGroup]="screenForm" (ngSubmit)="addScreen()" > 
        <div class="row"> 
            <div class="col-md-9">
                <mat-form-field appearance="fill">
                    <mat-label>Select multiplex</mat-label>
                    <mat-select [formControl]="screenForm.controls['multiplexList']" (selectionChange)="getMultiplex($event)" required>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let multiplex of multiplexes" [value]="multiplex.multiplexId" >{{multiplex.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-5">
                 
                    <mat-form-field class="text-full-width"  appearance="standard">
                        <mat-label>Screen Name</mat-label>
                        <input matInput placeholder="Screen Name" [formControl]="screenForm.controls['screenName']" [value]="screenForm.controls['screenName'].value | titlecase" required/>
                        <mat-error *ngIf="screenForm.controls['screenName'].hasError('required')">
                            Screen name is mandatory.
                        </mat-error>
                    </mat-form-field>  
                
            </div>
            <div class="col-md-2"> 
                <mat-form-field class="text-full-width"  appearance="standard">
                    <mat-label>Screen Size</mat-label>
                    <input matInput type="number" placeholder="Screen Size" [formControl]="screenForm.controls['screenSize']" />
                </mat-form-field> 
            </div> 
            <div class="col-md-2"> 
                <mat-form-field class="text-full-width"  appearance="standard">
                    <mat-label>Number of seats</mat-label>
                    <input matInput type="number" placeholder="Total number of seats" [formControl]="screenForm.controls['totalSeat']" />
                </mat-form-field> 
            </div> 
     
            
            <div class="col-md-3">
                <span matTooltip="Fill registration form to enable">
                    <button type="submit" mat-raised-button [disabled]="!screenForm.valid">
                    <mat-icon color="accent">add</mat-icon>
                    <span>Add screen</span>
                    
                    </button>
                </span>
                
            </div> 
        </div>
    </form>   
    </div>  
    <div class="col-md-12"> &nbsp;</div> 

    <div class="row">
        <mat-form-field class="search-text-full-width" appearance="outline">  
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search screen ..." #input>
            <mat-icon matPrefix color="accent">search&nbsp;</mat-icon> 
        </mat-form-field> 
        <table mat-table [dataSource]="dataSource" matSort>
          
        <ng-container matColumnDef="Commands">
            <th mat-header-cell *matHeaderCellDef> 
                <span class="header-text"> 
                     
                </span>
            </th>
            <td mat-cell *matCellDef="let element"> 
                <span>
                    <span matTooltip="Add Movie">
                        <button type="button" mat-icon-button (click)="addMovie(element)">
                            <mat-icon color="accent">movie</mat-icon>
                        </button> 
                    </span>
                    <span matTooltip="Edit Screen">
                        <button type="button" mat-icon-button (click)="editScren(element)">
                            <mat-icon color="accent">edit</mat-icon>
                        </button> 
                    </span>
                    <span matTooltip="Delete screen">
                        <button type="button" mat-icon-button (click)="deleteScren(element)">
                            <mat-icon color="accent">delete</mat-icon>
                        </button> 
                    </span>
                </span>
            </td>
        </ng-container>
         
        <ng-container matColumnDef="screenName">
            <th mat-header-cell *matHeaderCellDef> 
                <span class="header-text" mat-sort-header>Screen Name </span>
            </th>
            <td mat-cell *matCellDef="let element"> 
                <span class="truncate-text">{{element.screenName}} </span>
            </td>
        </ng-container> 

        <ng-container matColumnDef="screenSize">
            <th mat-header-cell *matHeaderCellDef> 
                <span class="header-text" mat-sort-header>Screen size</span>
            </th>
            <td mat-cell *matCellDef="let element"> 
                <span class="truncate-text">{{element.screenSize}} </span>
            </td>
        </ng-container> 

        <ng-container matColumnDef="totalSeat">
            <th mat-header-cell *matHeaderCellDef> 
                <span class="header-text" mat-sort-header>Number of seats</span>
            </th>
            <td mat-cell *matCellDef="let element"> 
                <span class="truncate-text">{{element.totalSeat}} </span>
            </td>
        </ng-container> 

        <ng-container matColumnDef="movieDetail">
            <th mat-header-cell *matHeaderCellDef> 
                <span class="header-text" mat-sort-header>Allotted Movie</span>
            </th>
            <td mat-cell *matCellDef="let element"> 
                <span class="truncate-text">{{(element.movieDetail == null)?"":element.movieDetail.name}} </span>
            </td> 
        </ng-container>

        <ng-container matColumnDef="showStartDate">
            <th mat-header-cell *matHeaderCellDef> 
                <span class="header-text" mat-sort-header>Show Start Date </span>
            </th>
            <td mat-cell *matCellDef="let element"> 
                <span class="truncate-text">{{element.showStartDate | date: 'mediumDate'}} </span>
            </td>
        </ng-container>
         
        <ng-container matColumnDef="showEndDate">
            <th mat-header-cell *matHeaderCellDef> 
                <span class="header-text" mat-sort-header>Show End Date</span>
            </th>
            <td mat-cell *matCellDef="let element"> 
                <span class="truncate-text">{{element.showEndDate | date: 'mediumDate'}} </span>
            </td>
        </ng-container> 
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
        
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
        </table>
    </div> 
        
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        <span matTooltip="Refresh List">
            <button type="button" mat-icon-button (click)="refreshList()">
                <mat-icon color="accent">refresh</mat-icon>
            </button> 
        </span>
        <br>
        <br>  
        
</div> 
