<div class="container">
    <div class="row  row-appear large-box " style="width: 100%;">
        <div class="col-md-12"> 
           <mat-card class="header"> 
                <mat-card-title>User Profile</mat-card-title>  
           </mat-card> 
        </div>
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-6">
            <mat-card-title>First Name</mat-card-title>
            <mat-card-subtitle>{{userData.firstName}}</mat-card-subtitle>
        </div>
        <div class="col-md-6">
            <mat-card-title>Last Name</mat-card-title>
            <mat-card-subtitle>{{userData.lastName}}</mat-card-subtitle>
        </div>
          
        <div class="col-md-6">
            <mat-card-title>Gender</mat-card-title>
            <mat-card-subtitle>{{userData.gender}}</mat-card-subtitle>
        </div>
        <div class="col-md-6">
            <mat-card-title>Date of Birth</mat-card-title>
            <mat-card-subtitle>{{userData.dob | date: 'fullDate'}}</mat-card-subtitle>
        </div> 


        <div class="col-md-6">
            <mat-card-title>Email</mat-card-title>
            <mat-card-subtitle>{{userData.email}}</mat-card-subtitle>
        </div> 
        <div class="col-md-6">
            <mat-card-title>Mobile</mat-card-title>
            <mat-card-subtitle>{{userData.mobile}}</mat-card-subtitle>
        </div>
          
        <div class="col-md-12">
            <mat-card-title>Location</mat-card-title> 
            <mat-card-subtitle>{{userData.location}}</mat-card-subtitle>
        </div>

        
        <hr>
          
        <div class="row col-md-12"  style="align-content: left;">
            <span matTooltip="Edit Profile">
            <button type="button" mat-raised-button (click)="openUserEditDialog()">
            <mat-icon color="accent">edit</mat-icon>
            <span>Edit</span>
            
            </button>
            </span> 
            <span style="width: 10px;"></span>
            <mat-card-title>
                <span matTooltip="Refresh Profile">
                    <button type="button" mat-icon-button (click)="refreshProfile()">
                        <mat-icon color="accent">refresh</mat-icon>
                    </button> 
                </span>
            </mat-card-title>
        </div> 
        <div class="col-md-12">
            <mat-card-subtitle>&nbsp;</mat-card-subtitle>
        </div>
    </div>
</div>