
<div class="header" style="width: 400px;">
    <h1 mat-dialog-title>{{data.title}}</h1>
</div>
<hr/>
<div mat-dialog-content style="height: 100px;">
   
      <span style="color: red; margin-left: 18px;">{{data.message1}}</span>
      <br><br>
      <span style="margin-left: 18px;">{{data.message2}}</span>
</div>

<div mat-dialog-actions>
    
    <button mat-raised-button (click)="confirm()">{{ data.confirmText }}</button>
    <button mat-raised-button (click)="cancel()">{{ data.cancelText }}</button>
     
</div> 