 
  .box.flex {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
  }  

  .register-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .text-full-width {
    width: 100%;
  }
 
  .search-text-full-width {
    width: 100%; 
    transform: translateY(1.36em);  
  }
  
  .header{
    width: 100%;
    background-color: rgb(3, 175, 243);
    color: white;
  } 

  button{
    outline: none;
}  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.table-container {
  height: 300px;
  overflow: auto;
}

table {
  width: 100%; 
}

.mat-cell > span.truncate-text {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
  padding: 7px; 
}
.mat-header-cell > span.header-text {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;   
}
.mat-header-cell{
  background-color: whitesmoke;
  color: #ff4081; 
}
 
 
   
  