  
  .text-full-width {
    width: 100%;  
  }

  .search-text-full-width {
    width: 100%; 
    transform: translateY(1.36em);  
  }
 
  
  .header{
    width: 100%;
    background-color: rgb(3, 175, 243);
    color: white;
  } 

  button{
    outline: none;
}  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.table-container {
  max-height: 500px;
  overflow: auto;  
}

table {
  width: 100%;  
  overflow: auto;
} 
img {
  /*border: 1px solid #ff4081;
  border-radius: 1px;*/
  padding: 5px;
  width: 250px;
}
td.mat-cell{
  border-bottom-style: none; 
  
} 

card {
  max-width: 100%;
}
 
   
  